<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css"
        />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism-tomorrow.min.css"
            rel="stylesheet"
        />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
        $CSS_LINKS$

        <style>
            /*$STYLES$*/
        </style>
        <title>$TAB_TITLE$</title>
    </head>
    <body>
        <nav>
            <a href="/"
                ><img
                    id="logo"
                    src="/assets/images/node-logo.png"
                    style="width: 200px"
            /></a>
        </nav>
        <main></main>
    </body>
</html>
